:host {
  width: 30rem;
  display: block; /* para que el host participe en el layout si antes estaba en inline */

  .link,.company-name {
    color: orangered;
  }

  .btn {
    background-color: orangered;
    color: #ffff;
  }
}
@media (min-width: 992px) {
  :host {
    width: 30rem; /* o el valor que desees en pantallas grandes */
  }

  
}